<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yume.ibeacondetector" >


    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application>
        <service
            android:enabled="true"
            android:name="com.yume.hhm.ibeacondetector.IBeaconService"
            android:exported="true"></service>
    </application>

</manifest>